*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: red;
    text-align: center;
    padding: 1.25rem;
    margin-bottom: 2rem;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

h2{
    text-align: center;
    font-size: 15px;
    margin-bottom: 2rem;
}

.row {
    
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    
    
}
.aritisites .row a{
    color: rgb(76, 176, 234);
    text-decoration: none;
    display: inline;
    
}

.aritisites .row {
    float: left;
    width: calc(90% / 3 );
    
  
}

.aritisites ::after{
    content: "";
    display: block;
    clear: both;
}

.row img{
    float: left;
    width: calc(100% / 3 );
   
      
}

.row::after{
content: "";
display: block;
clear: both;
}
.row div{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
 


    
